body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}

.btn {
  border: none !important;
  outline: none !important;
  border-width: 0 !important;
  border-radius: 50px !important;
  padding: 7px 20px !important;
  font-weight: bold !important;
  color: #FFF !important;
  background-color: blueviolet !important;
}

.btn-danger {
  background-color: rgb(234, 53, 84) !important;
}

form {
  width: 50%;
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, .25);
}

form input,
form textarea {
  border-radius: 10px;
  color: #222 !important;
  outline: none;
  border-color: rgba(31, 41, 55, .8) !important;
  background-color: #FFF !important;
}

form input:focus,
form textarea:focus {
  box-shadow: none !important;
}

form .form-check {
  margin: 10px 0;
  border-radius: 10px;
  padding: 20px;
  width: 45%;
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
}

form .form-check-input {
  border-color: blueviolet !important;
  margin: 0 !important;
  margin-right: .5rem !important;
  padding: 10px;
}

form .form-check-input,
form .form-check-label {
  cursor: pointer;
}

form .form-check input:checked {
  background-color: blueviolet !important;
}

.back-to-home {
  display: block;
  position: fixed;
  font-weight: bold;
  top: 20px;
  left: 20px;
}

.back-to-home a {
  color: blueviolet;
}

.link {
  color: blueviolet !important;
}